.usrimg{
   width: 130px;
   height: 130px;
   border-radius: 50% !important; 
   padding: 5px;
   float:left;
}

.ptitle{
    height: 50px;
    // background-color: black;
    font-size: 25px;
    color: white;
    margin: 0px;
    padding:4px;
}

.usrcontent{
    border: solid 1px; padding: 10px; margin: 0px;
}

.margin0{
    margin: 0px;
}

.profilpencil{
    margin-top: 7px;
    font-size: 25px;
    float:right; color:white;
}

.spacer{
    height: 20px;
}