

.price {
    font-weight: bold;
    color: #e83ab3;
    font-size: large;
}

.procname {
    font-size: 20px;
    color:black;
    border-bottom: solid 1px;
    
}

.procname:hover{
  background-color: #7ba57b;
  font-weight: bold;
}