.separator{
    height: 10px;
}

.worktime{
   font-weight: bold;

}

.contact{
    font-size: larger;
    font-weight: bold;
}

.mapimg{
    border: solid 1px ;
    //margin: auto;
    margin-left: 40px;
    //max-width: 1000px !important;
    //max-height:500px !important;
}