
<!--
<p>contact works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
-->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class=" panel panel-default contact " >
                <div class="panel-heading bgcolor color:white;">
                <div  style="color:white;" class="stuffheader bgcolor"> <span  style="color:white;" class="caret"> </span> Address & telephone</div >
                </div>
                <div class="panel-body">
                    <p>Stret/bul: Cherni Bruh № 12</p>
                    <p>City: Sofia</p>
                    <p>PostCode: </p>
                <img   class="mapimg" src="../../assets/map.png"/>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" panel panel-default contact" >
                <div class="panel-heading bgcolor color:white;">
                <div  style="color:white;" class="stuffheader bgcolor"> <span  style="color:white;" class="caret"> </span> WORK TIME</div >
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Monday:<span class="worktime">10:00AM - 8:00 PM</span></li>
                        <li>Tuesday: 10:00 AM - 8:00 PM</li>
                        <li>Wednesday: 10:00 AM - 8:00 PM</li>
                        <li>Thursday: 10:00 AM - 8:00 PM</li>
                        <li>Friday: 10:00 AM - 8:00 PM</li>
                        <li>Saturday: 10:00 AM - 8:00 pm</li>
                        <li>Sunday: day off</li> 
                    </ul>
                </div>
            </div>

        </div>
    </div>



<!--
<div class=" panel panel-default " >
    <div class="panel-heading bgcolor color:white;">
    <div  style="color:white;" class="stuffheader bgcolor"> <span  style="color:white;" class="caret"> </span> Address & telephone</div >
    </div>
    <div class="panel-body">
        <p>Stret:</p>
        <p>City:</p>
        <p>PostCode:</p>
    <img src="assets/ map.png"/>
    </div>
</div>

<div class="separator"></div>

<div class=" panel panel-default " >
    <div class="panel-heading bgcolor color:white;">
    <div  style="color:white;" class="stuffheader bgcolor"> <span  style="color:white;" class="caret"> </span> WORK TIME</div >
    </div>
    <div class="panel-body">
        <ul>
            <li>Monday:<span class="worktime">10:00AM - 8:00 PM</span></li>
            <li>Tuesday: 10:00 AM - 8:00 PM</li>
            <li>Wednesday: 10:00 AM - 8:00 PM</li>
            <li>Thursday: 10:00 AM - 8:00 PM</li>
            <li>Friday: 10:00 AM - 8:00 PM</li>
            <li>Saturday: 10:00 AM - 8:00 pm</li>
            <li>Sunday: day off</li> 
        </ul>
    </div>
</div>
-->