
<div *ngIf="isDebug">
    {{images|json}}

</div>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div *ngFor="let img of images" class="gallery">
                <a target="_blank" [href]="img.imgsrc">
                <img [src]="img.imgsrc" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">{{img.imgdesc}}</div>
            </div>
        </div>
    </div>
</div>


